@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-weight: inherit;
  font-size: inherit;
}

ol,
ul {
  list-style: none;
}

html,
body {
  height: 100%;
  font-family: "Barlow", sans-serif;
  color: #fff;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
  border: none;
  outline: none;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.wrapper {
  width: 100vw;
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

._container {
  max-width: 70.625rem;
  padding-inline: 0.5rem;
  margin: 0 auto;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding-block: 1.875rem;
  margin-bottom: 5.9375rem;
}

.header__logo {
  max-width: 8.9375rem;
  max-height: 28px;
  overflow: hidden;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.background__container {
  background: radial-gradient(838.19% 378.3% at 69.44% -79.86%, rgba(31, 35, 39, 0) 0%, #191c1f 47.89%, rgba(31, 35, 39, 0) 100%), url(../img/d46fa455604191d9939ea38dde4bb134.jfif) 95%/cover no-repeat;
  width: 100%;
}

.body__container--content {
  max-width: 65.92%;
  padding-bottom: 11.375rem;
}

.text--content {
  margin-bottom: 1.875rem;
}

.subtitle {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 0.3125rem;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.6875rem;
  text-transform: uppercase;
  margin-bottom: 0.625rem;
}

.paragraph {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.875rem;
}

.button {
  display: inline-flex;
  gap: 0.9375rem;
  padding: 1.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 2.5rem;
  background-color: #e11b19;
  font-weight: 700;
  line-height: 1.25rem;
  text-transform: uppercase;
}

.container__blok--two {
  background-color: hsl(210, 11%, 11%);
}

.blok--two {
  padding-block: 3.75rem;
  display: flex;
  gap: 1.875rem;
  align-items: center;
}

.blok--two--card {
  flex: 0 1 22%;
  display: flex;
  gap: 1.25rem;
  align-items: center;
}

.blok--two--text {
  display: flex;
  flex-direction: column;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-transform: uppercase;
}
.blok--two--text span {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.875rem;
  text-transform: uppercase;
}

.img--blok--two {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
}
.img--blok--two img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blok__three {
  background-color: hsl(210, 11%, 14%);
}

.blok__content {
  display: flex;
  gap: 7.6875rem;
  padding-top: 7.5rem;
}

.blok__content--img {
  flex: 0 1 47.78%;
  max-height: 22.5rem;
  overflow: hidden;
  padding-block: 3.75rem;
}
.blok__content--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.blok__content--text {
  flex: 0 1 39.2%;
  align-self: center;
}

.blok--text {
  font-weight: 700;
  line-height: 1.25rem;
  text-transform: uppercase;
  margin-bottom: 0.3125rem;
}

.blok__content--title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1.5625rem;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.list li {
  position: relative;
  margin-left: 2.4375rem;
  font-weight: 700;
  line-height: 1.25rem;
  text-transform: uppercase;
}

li::before {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-image: url(../img/galochka.svg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: -2.4375rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.blok__four {
  background-color: hsl(210, 11%, 11%);
}

.blok__four--text {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5625rem;
  max-width: 25.3125rem;
}

.title--blok--four {
  margin-bottom: 0.625rem;
}

.blok__five {
  background: radial-gradient(570.45% 265.28% at 47.92% 0%, #191c1f 0%, rgba(25, 28, 31, 0) 88.96%, rgba(25, 28, 31, 0.04) 100%), url(../img/img-blok-4.jfif) 100% 60%/cover no-repeat;
}

.blok__five--background {
  width: 100%;
  padding-block: 5rem;
}

.blok__five--content {
  padding-bottom: 0;
  margin: 0 auto;
  text-align: center;
}

.footer {
  background-color: hsl(210, 13%, 9%);
  padding: 2.5rem 1rem;
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  flex: 0 1 12.8366%;
  overflow: hidden;
  cursor: pointer;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.links__container {
  display: flex;
  gap: 0.9375rem;
}
.links__container a {
  width: 1.875rem;
  height: 1.875rem;
  overflow: hidden;
}
.links__container a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 58.9375em) {
  .blok--two--text {
    font-size: 2rem;
  }
  .header__container {
    margin-bottom: 0.9375rem;
  }
  .body__container--content {
    padding-bottom: 3.375rem;
  }
  .blok__content {
    padding-top: 0rem;
  }
  ._container {
    padding-inline: 1rem;
  }
}
@media (max-width: 48em) {
  .header__container {
    padding-block: 0.9375rem;
  }
  .header__logo,
  .body__container--content {
    margin: 0 auto;
    text-align: center;
  }
  .body__container--content {
    max-width: 100%;
    padding-bottom: 1rem;
  }
  .title {
    font-size: 2.25rem;
    line-height: 3.125rem;
  }
  .paragraph {
    font-size: 1.25rem;
  }
  .blok--two {
    padding-block: 1rem;
    flex-wrap: wrap;
  }
  .blok--two--card {
    flex: 0 1 47%;
    justify-content: center;
  }
  .blok--two--text {
    text-align: center;
  }
  .blok__content {
    gap: 1.5rem;
    flex-direction: column;
  }
  .blok__content--img,
  .blok__content--text {
    flex: 0 1 100%;
    padding-block: 1rem;
  }
  .blok__content--img br,
  .blok__content--text br {
    display: none;
  }
  .blok__content--text .blok--text,
  .blok__content--text .blok__content--title {
    text-align: center;
  }
  .list {
    align-content: center;
    flex-wrap: wrap;
  }
  .blok__four {
    padding-top: 2rem;
  }
  .blok__four--text {
    text-align: center;
  }
  .blok__five--background {
    padding-block: 1.5rem;
  }
  .footer {
    padding-block: 1.25rem;
  }
  .footer__logo {
    flex: 0 1 32.8366%;
  }
  .footer__logo img {
    -o-object-fit: 100%;
       object-fit: 100%;
  }
}
@media (max-width: 33.25em) {
  .blok--two--card {
    flex: 0 1 100%;
  }
  .blok--two--text {
    font-size: 1.5rem;
  }
}
.error {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blok__content--error {
  width: 100%;
  height: 100%;
}
.blok__content--error .title--error {
  text-align: center;
  color: #e11b19;
  font-size: 3.5rem;
  font-weight: 700;
}/*# sourceMappingURL=style.css.map */