.error {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.blok__content--error {
   width: 100%;
   height: 100%;
   .title--error {
      text-align: center;
      color: #e11b19;
      font-size: 3.5rem;
      font-weight: 700;
   }
}
